html *{ 
    margin: 0;
    padding: 0;
}
.header{
  background-color: rgb(22, 22, 22);
  height: 177px;
  font-size: 0.8em;
  margin-left: 0;
  margin-right: 0;
  min-width: 900px;
}
.main, .logo, .menubar, .site-content, .footer{
  margin-left: auto;
  margin-right: auto;
}
.logo{
  width: 880px;
  padding-bottom: 40px;
}
.logo h1, .logo h2{
  margin: 0 0 0 9px;
}
.logo-text h1, .logo-text h1 a, .logo-text h1 a:hover{
  padding: 22px 0 0 0;
  color: #ffffff;
  letter-spacing: 0.1em;
  text-decoration: none;
}
.logo h2{
  font-size: 0.9em;
  padding: 4px 0 0 0;
  color: #999;
}